Components/Twitter/Scraper/__pycache__/
.vscode/settings.json
Components/Twitter/Twitter-api/__pycache__/pythonTwitterAPI.cpython-36.pyc
Components/Twitter/Twitter-api/twitterKeys.json
Components/sentiment_analyzer/__pycache__/test_sentiment_TextBlob.cpython-36-pytest-5.4.1.pyc
Components/sentiment_analyzer/__pycache__/sentiment_TextBlob.cpython-36.pyc
